# Root
.idea/
.vscode/
*.iml
.DS_Store
uploads/

# Backend
backend/target/
backend/.mvn/wrapper/maven-wrapper.jar
backend/uploads/

# Frontend

# Env
.env
*.log

# Firebase
.firebase/

# E2E
e2e/node_modules/
e2e/test-results/
e2e/playwright-report/
e2e/walkthrough-artifacts/

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.packages
mobile/build/
mobile/.pub-cache/
mobile/.pub/
mobile/ios/Pods/
mobile/ios/.symlinks/
mobile/android/.gradle/
mobile/android/local.properties
mobile/android/app/debug/
mobile/android/app/profile/
mobile/android/app/release/
